<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/916727133d.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mercado Fiebre</title>
</head>
    <header>
        <div class="mainHeader">
            <img class="subHeader"src="/images/logo-mercado-liebre.svg" alt="mercado fiebre ._.">
            <div class="box">
                <input type="text" name="search" placeholder="Buscar producto, marca" id="src"><button class="fa-solid fa-magnifying-glass"></span>
            </div>
            <h2 class="subHeader"><span class="fa-solid fa-hand-holding-dollar"></span>Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <nav class="list">
            <ul class="leftList">
                <div class="lista"><li><a href="Ofertas">Ofertas</a></li></div>
                <div class="lista"><li><a href="Tiendas Oficiales">Tiendas Oficiales</a></li></div>
                <div class="lista"><li><a href="Vender">Vender</a></li></div>
                <div class="lista"><li><a href="Ayuda">Ayuda</a></li></div>
            </ul>
            <ul class="rightList">    
                <div class="lista"><li><a href="/register">Creá tu Cuenta
                    <span class="fa-solid fa-id-card"></span>
                </a></li></div>
                <div class="lista"><li><a href="/login">Ingresá
                    <span class="fa-solid fa-right-to-bracket"></span>
                </a></li></div>
                <div class="lista"><li><a href="Mis Compras">Mis Compras
                    <span class="fa-solid fa-cart-shopping"></span>
                </a></li></div>
            </ul>
        </nav>
            <br>
        <div class="menu"><span class="fas fa-bars"></span>
        </div>
        <br>
            <div class="banner"><img width="399px" src="\images\img-home-banner.jpg" alt="Baner"></div>
        
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
    </header>
<body>    
    <main>
        <section>
            <h3 class="titulares">Seccion: Basada en tu ultima visita</h3>
            <article>
                <img width="400px" src="\images\img-cafetera-moulinex.jpg" alt="Cafetera">
                <div class="linea"></div>
                <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                <p class="precio">$6.770</p>
                <p class="descuento">40% OFF</p>
                <p class="descripcion"> aqui ira una descripzion :)</p>
                <h4 class="subtitulo">Cafetera Moulinex</h4>
            </article>
            <article>
                <img width="400px" src="\images\img-macbook-pro-2019.jpg" alt="Macbook">
                <div class="linea"></div>
                <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                <p class="precio">$230.000</p>
                <p class="descuento">20% OFF</p>
                <p class="descripcion"> aqui ira una descripzion :)</p>
                <h4 class="subtitulo">MacBook Pro 2019</h4>
            </article>
            <article>
                <img width="400px" src="\images\img-samsung-galaxy-s10.jpg" alt="Samsun Galaxy">
                <div class="linea"></div>
                <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <p class="descripcion"> aqui ira una descripzion :)</p>
                <h4 class="subtitulo">Samsung Galaxy S10</h4>
            </article>
            <article>
                <img width="400px" src="\images\img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="linea"></div>
                <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <p class="descripcion"> aqui ira una descripzion :)</p>
                <h4 class="subtitulo">SmartTv Samsung 43"</h4>
            </article>
            <section>
                <h3 class="oferta">Seccion de Ofertas</h3>
                <article>
                    <img width="400px" src="\images\img-tv-samsung-smart.jpg" alt="Smart TV">
                    <div class="linea"></div>
                    <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <p class="descripcion"> aqui ira una descripzion :)</p>
                    <h4 class="subtitulo">Cafetera Moulinex</h4>
                </article>
                <article>
                    <img width="400px" src="\images\img-macbook-pro-2019.jpg" alt="Macbook">
                    <div class="linea"></div>
                    <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <p class="descripcion"> aqui ira una descripzion :)</p>
                    <h4 class="subtitulo">MacBook Pro 2019</h4>
                </article>
                <article>
                    <img width="400px" src="\images\img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy">
                    <div class="linea"></div>
                    <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <p class="descripcion"> aqui ira una descripzion :)</p>
                    <h5 class="subtitulo">Samsung Galaxy S10</h5>
                </article>
                <article>
                    <img width="400px" src="\images\img-tv-samsung-smart.jpg" alt="Smart TV">
                        <div class="linea"></div>
                        <div class="camion"><span class="fa-sharp fa-solid fa-truck-fast"></span></div>
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                        <p class="descripcion"> aqui ira una descripzion :)</p>
                        <h5 class="subtitulo">SmartTv Samsung 43"</h5>
                </article>
    </main>
    <footer>
        <section>
            <div class="footerIcon">
                <span class="fa-solid fa-credit-card"></span></div>

                <h3 class="footerCentrado">Paga con Tarjeta</h3>
                <p class="footerCentrado">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>

                <div class="footerIcon">
                    <span class="fa-solid fa-gift"></span></div>

                <h3 class="footerCentrado">Envío gratis desde $ 2.500</h3>
                <p class="footerCentrado">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>

                <div class="footerIcon">
                    <span class="fa-sharp fa-solid fa-shield-halved"></span></div>

                <h3 class="footerCentrado">Seguridad, de principio a fin</h3>
                <p class="footerCentrado">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                <h4>Copyright © 1999-2023 MercadoLiebre S.R.L.</h4>
            </div>
        </section>
    </footer>
</body>

</html>